.grid-parent{
    display: grid;
    grid-template-columns: auto auto;
}
.chat-parent::-webkit-scrollbar{
    display: none;
}
#message-desapear{
    /* box-shadow: 10px 18px 15px 0px inset rgb(255, 255, 255); */
    background-color: transparent;
}
 #ShowContacts::-webkit-scrollbar{
    display: none;
 }
 #bg-image{
    background-image: url('https://wallpapers.com/images/hd/dark-theme-background-ow30fhvos4u9rg9a.jpg');
 }
 input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* HTML: <div class="loader"></div> */
.loader {
    
    /* width: 40px; */
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }